<script>
	/*window.onload = function() {
	  window.location.href = "/tradezone/index.html";
	};*/
</script>
<div class="navigation-link">
        <!-- homepage -->
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% comment %} <li ng-class="pageTab == 'myScript' ? 'active' : ''" ng-show="globals.currentRole == 'ADMIN'"><a ui-sref="myScript">My Script</a></li>
						<li ng-class="pageTab == 'scriptMaster' ? 'active' : ''" ng-show="globals.currentRole == 'ADMIN'"><a ui-sref="scriptMaster">Script Master</a></li>
						<li ng-class="pageTab == 'orgMaster' ? 'active' : ''" ng-show="globals.currentRole == 'ADMIN'"><a ui-sref="orgMaster">ORG Master</a></li>
						<li ng-class="pageTab == 'admin-holiday-master' ? 'active' : ''" ng-show="globals.currentRole == 'ADMIN'"><a ui-sref="admin-holiday-master">Holiday Master</a></li>
						<li ng-class="pageTab == 'userManagement' ? 'active' : ''" ng-show="globals.currentRole == 'ADMIN'"><a ui-sref="userManagement">User Management</a></li>
						<li ng-class="pageTab == 'contracts' ? 'active' : ''" ng-show="globals.currentRole == 'MAKER'"><a ui-sref="contracts">Contract</a></li></ul> {% endcomment %}
						<li ng-class = "active">User</li>
						<li ng-class = "">Students</li>
						<li ng-class = "">Payments</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</div>