<html>
<head>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>

<!--Navigation Bar-->
 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Bill&Cert</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>

<!--Buttons-->

<a class="waves-effect waves-light btn-large" href="Staff.html">Show staff</a>
<a class="waves-effect waves-light btn-large" href="Student.html">Show Students</a>
<a class="waves-effect waves-light btn-large" href="paymentinfo.html">Show Payment info</a>



      <script type="text/javascript" src="js/materialize.min.js">
      </script>
</body>
</html>