<html>
<head>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>

<!--Navigation Bar-->
 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Bill&Cert</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>


 <!-- table-->

  <table>
        <thead>
          <tr>
              <th>Id</th>
              <th>Student Id </th>
              <th>Course Id</th>
              <th>Total Payment </th>
              <th>Pending Payment</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

   <script type="text/javascript" src="js/materialize.min.js">
      </script>
</body>
</html>