<html>
<head></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<body>
	<table id="table_id">
		<thead>
			<tr>
				<th>User Id</th>
				<th>Username</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Mobile No.</th>
				<th>DOB</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data-1a</td>
				<td>data-1b</td>
				<td>data-1c</td>
			</tr>
			<tr>
				<td>data-2a</td>
				<td>data-2b</td>
				<td>data-2c</td>
			</tr>
			<tr>
				<td>data-3a</td>
				<td>data-3b</td>
				<td>data-3c</td>
			</tr>
			<tr>
				<td>data-4a</td>
				<td>data-4b</td>
				<td>data-4c</td>
			</tr>
			<tr>
				<td>data-1a</td>
				<td>data-1b</td>
				<td>data-1c</td>
			</tr>
			<tr>
				<td>data-2a</td>
				<td>data-2b</td>
				<td>data-2c</td>
			</tr>
			<tr>
				<td>data-3a</td>
				<td>data-3b</td>
				<td>data-3c</td>
			</tr>
			<tr>
				<td>data-4a</td>
				<td>data-4b</td>
				<td>data-4c</td>
			</tr>
			<tr>
				<td>data-1a</td>
				<td>data-1b</td>
				<td>data-1c</td>
			</tr>
			<tr>
				<td>data-2a</td>
				<td>data-2b</td>
				<td>data-2c</td>
			</tr>
			<tr>
				<td>data-3a</td>
				<td>data-3b</td>
				<td>data-3c</td>
			</tr>
			<tr>
				<td>data-4a</td>
				<td>data-4b</td>
				<td>data-4c</td>
			</tr>
			.....   
			</tbody>
		</table>
	</body>
</html>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>